@import "/lib/Components/core.css";
@import "/lib/Components/utilities.css";
@import "/lib/Components/Header/header.css";
@import "/lib/Components/Footer/footer.css";
@import "/lib/Components/QuizCard/quizcard.css";

/* MAIN STARTS */

.sm-main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "categories";
    grid-template-columns: auto;
    grid-template-rows:1fr;
    min-width: 100%;
}

.sm-main-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin:2rem;
}

.sm-main-feature-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin:0 2rem 2rem;
}

.sm-main-cat-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 2rem;
    height: fit-content;
    width: 100%;
    max-width: 100vw;
}

.sm-main-cat-child {
    position: relative;
    width: 35rem;
    height: fit-content;
    box-shadow:0px 6px 10px 0px hsla(0,0%,0%,0.14), 
    0px 1px 18px 0px hsla(0,0%,0%,0.12), 
    0px 3px 5px -1px hsla(0,0%,0%,0.2);
    
}

.sm-main-cat-child img {
    object-fit: cover;
    width: 100%;
    height: 25rem;
    border-radius: 30px;
}

.sm-box-shad-hov {
    border-radius: 30px;
    transition: all ease-in 0.2s;
}

.sm-box-shad-hov:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.sm-main-cat-child .sm-man-cat-text {
    position: absolute;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--COLOR-WHITE-ALWAYS);
    text-shadow: 0px 5px 5px var(--COLOR-BLACK);
    font-weight: 800;
    border-radius: 30px;
    background: var(--COLOR-BLACK-40);
}

.sm-grid-text{
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.sm-grid-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sm-man-cat-text:hover {
    color: var(--COLOR-LIGHTEN-2);
    background: var(--COLOR-BLACK-10);
}

.sm-main-categories h2 {
    margin-bottom: 2rem;
}

.prod-heading {
    margin-bottom: 2rem;
}

.sm-main-prod-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap:  1.5rem;
    padding: 0 2rem;
    max-width: 100vw;
    height: fit-content;
}

/* MAIN ENDS */

/* MEDIA QUERIES */

@media only screen and (max-width:768px){
    :root{
        font-size:45%;
    }

    .sm-header-nav {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        place-items: center;
    }
    
    .sm-header-nav-search{
        display: none;
    }

    .sm-header-btn-wrapper{
        margin-left: 0;
    }

    .sm-main-cat-container {
        padding: 0 1rem;
    }

    .sm-main-cat-child {
        width: 20rem;
    }

    .sm-main-cat-child img{
        height:20rem;
    }    
}

